@import "tailwindcss";
@import "uniwind";


@theme {
  --color-primary: rgb(0 61 61);
  --color-surface-tint: rgb(0 106 106);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(22 121 121);
  --color-on-primary-container: rgb(255 255 255);
  --color-secondary: rgb(33 58 58);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(88 114 113);
  --color-on-secondary-container: rgb(255 255 255);
  --color-tertiary: rgb(34 55 81);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(90 110 139);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-error: rgb(116 0 6);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(207 44 39);
  --color-on-error-container: rgb(255 255 255);
  --color-background: rgb(244 251 250);
  --color-on-background: rgb(22 29 29);
  --color-surface: rgb(244 251 250);
  --color-on-surface: rgb(12 18 18);
  --color-surface-variant: rgb(218 229 228);
  --color-on-surface-variant: rgb(46 56 56);
  --color-outline: rgb(74 84 84);
  --color-outline-variant: rgb(101 111 111);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(43 50 49);
  --color-inverse-on-surface: rgb(236 242 241);
  --color-inverse-primary: rgb(128 213 212);
  --color-primary-fixed: rgb(22 121 121);
  --color-on-primary-fixed: rgb(255 255 255);
  --color-primary-fixed-dim: rgb(0 95 95);
  --color-on-primary-fixed-variant: rgb(255 255 255);
  --color-secondary-fixed: rgb(88 114 113);
  --color-on-secondary-fixed: rgb(255 255 255);
  --color-secondary-fixed-dim: rgb(64 89 89);
  --color-on-secondary-fixed-variant: rgb(255 255 255);
  --color-tertiary-fixed: rgb(90 110 139);
  --color-on-tertiary-fixed: rgb(255 255 255);
  --color-tertiary-fixed-dim: rgb(65 86 114);
  --color-on-tertiary-fixed-variant: rgb(255 255 255);
  --color-surface-dim: rgb(193 200 199);
  --color-surface-bright: rgb(244 251 250);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(239 245 244);
  --color-surface-container: rgb(227 233 233);
  --color-surface-container-high: rgb(216 222 221);
  --color-surface-container-highest: rgb(204 211 210);

  /* DARK COLORS */

  --color-dark-primary: rgb(150 235 234);
  --color-dark-surface-tint: rgb(128 213 212);
  --color-dark-on-primary: rgb(0 43 43);
  --color-dark-primary-container: rgb(71 158 157);
  --color-dark-on-primary-container: rgb(0 0 0);
  --color-dark-secondary: rgb(198 226 225);
  --color-dark-on-secondary: rgb(16 42 41);
  --color-dark-secondary-container: rgb(123 150 149);
  --color-dark-on-secondary-container: rgb(0 0 0);
  --color-dark-tertiary: rgb(200 222 255);
  --color-dark-on-tertiary: rgb(16 39 64);
  --color-dark-tertiary-container: rgb(125 146 177);
  --color-dark-on-tertiary-container: rgb(0 0 0);
  --color-dark-error: rgb(255 210 204);
  --color-dark-on-error: rgb(84 0 3);
  --color-dark-error-container: rgb(255 84 73);
  --color-dark-on-error-container: rgb(0 0 0);
  --color-dark-background: rgb(14 21 20);
  --color-dark-on-background: rgb(221 228 227);
  --color-dark-surface: rgb(14 21 20);
  --color-dark-on-surface: rgb(255 255 255);
  --color-dark-surface-variant: rgb(63 73 72);
  --color-dark-on-surface-variant: rgb(212 222 222);
  --color-dark-outline: rgb(170 180 179);
  --color-dark-outline-variant: rgb(136 146 146);
  --color-dark-shadow: rgb(0 0 0);
  --color-dark-scrim: rgb(0 0 0);
  --color-dark-inverse-surface: rgb(221 228 227);
  --color-dark-inverse-on-surface: rgb(37 43 43);
  --color-dark-inverse-primary: rgb(0 81 81);
  --color-dark-primary-fixed: rgb(156 241 240);
  --color-dark-on-primary-fixed: rgb(0 20 20);
  --color-dark-primary-fixed-dim: rgb(128 213 212);
  --color-dark-on-primary-fixed-variant: rgb(0 61 61);
  --color-dark-secondary-fixed: rgb(204 232 231);
  --color-dark-on-secondary-fixed: rgb(0 20 20);
  --color-dark-secondary-fixed-dim: rgb(176 204 203);
  --color-dark-on-secondary-fixed-variant: rgb(33 58 58);
  --color-dark-tertiary-fixed: rgb(211 228 255);
  --color-dark-on-tertiary-fixed: rgb(0 18 38);
  --color-dark-tertiary-fixed-dim: rgb(179 200 232);
  --color-dark-on-tertiary-fixed-variant: rgb(34 55 81);
  --color-dark-surface-dim: rgb(14 21 20);
  --color-dark-surface-bright: rgb(63 70 69);
  --color-dark-surface-container-lowest: rgb(4 8 8);
  --color-dark-surface-container-low: rgb(24 31 31);
  --color-dark-surface-container: rgb(35 41 41);
  --color-dark-surface-container-high: rgb(45 52 52);
  --color-dark-surface-container-highest: rgb(56 63 63);
}

.dark{
  --color-primary: rgb(150 235 234);
  --color-surface-tint: rgb(128 213 212);
  --color-on-primary: rgb(0 43 43);
  --color-primary-container: rgb(71 158 157);
  --color-on-primary-container: rgb(0 0 0);
  --color-secondary: rgb(198 226 225);
  --color-on-secondary: rgb(16 42 41);
  --color-secondary-container: rgb(123 150 149);
  --color-on-secondary-container: rgb(0 0 0);
  --color-tertiary: rgb(200 222 255);
  --color-on-tertiary: rgb(16 39 64);
  --color-tertiary-container: rgb(125 146 177);
  --color-on-tertiary-container: rgb(0 0 0);
  --color-error: rgb(255 210 204);
  --color-on-error: rgb(84 0 3);
  --color-error-container: rgb(255 84 73);
  --color-on-error-container: rgb(0 0 0);
  --color-background: rgb(14 21 20);
  --color-on-background: rgb(221 228 227);
  --color-surface: rgb(14 21 20);
  --color-on-surface: rgb(255 255 255);
  --color-surface-variant: rgb(63 73 72);
  --color-on-surface-variant: rgb(212 222 222);
  --color-outline: rgb(170 180 179);
  --color-outline-variant: rgb(136 146 146);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(221 228 227);
  --color-inverse-on-surface: rgb(37 43 43);
  --color-inverse-primary: rgb(0 81 81);
  --color-primary-fixed: rgb(156 241 240);
  --color-on-primary-fixed: rgb(0 20 20);
  --color-primary-fixed-dim: rgb(128 213 212);
  --color-on-primary-fixed-variant: rgb(0 61 61);
  --color-secondary-fixed: rgb(204 232 231);
  --color-on-secondary-fixed: rgb(0 20 20);
  --color-secondary-fixed-dim: rgb(176 204 203);
  --color-on-secondary-fixed-variant: rgb(33 58 58);
  --color-tertiary-fixed: rgb(211 228 255);
  --color-on-tertiary-fixed: rgb(0 18 38);
  --color-tertiary-fixed-dim: rgb(179 200 232);
  --color-on-tertiary-fixed-variant: rgb(34 55 81);
  --color-surface-dim: rgb(14 21 20);
  --color-surface-bright: rgb(63 70 69);
  --color-surface-container-lowest: rgb(4 8 8);
  --color-surface-container-low: rgb(24 31 31);
  --color-surface-container: rgb(35 41 41);
  --color-surface-container-high: rgb(45 52 52);
  --color-surface-container-highest: rgb(56 63 63);
}
